[user]
	name = David Zmick
	email = dpzmick@gmail.com

[push]
	default = matching

[alias]
    lol = log --graph --decorate --pretty=oneline --abbrev-commit
    lola = log --graph --decorate --pretty=oneline --abbrev-commit --all

[color]
    branch = auto
    diff = auto
    interactive = auto
    status = auto

[diff]
	tool = vimdiff

[difftool]
	prompt = false
