*.swp
.DS_Store
nvim/nvim.symlink/bundle/*
nvim/nvim.symlink/backups/*
cmus/cmus.symlink/post-fm-pass
nvim/nvim.symlink/.VimballRecord
nvim/nvim.symlink/.cache/
nvim/nvim.symlink/.netrwhist
nvim/nvim.symlink/spell/
