[Unit]
Description=rsync backup home

[Service]
Type=oneshot
WorkingDirectory=/home/dpzmick/
ExecStart=/home/dpzmick/dotfiles/bin/rsync_backup.sh
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=timers.target
