Mendeley Ltd.
NVIDIA Corporation
Nextcloud
QtProject.conf
RawTherapee
Recoll.org
VirtualBox
autostart
caja
configstore
darktable
dconf
digikam
gcloud
digikam*
zoomus.conf
xfce4
wireshark
vlc
unity3d
GIMP
google-chrome
Signal
