GIMP
Jackbox Games
Mendeley Ltd.
MusicBrainz
NVIDIA Corporation
Nextcloud
OpenSCAD
QtProject.conf
RawTherapee
Recoll.org
Signal
VirtualBox
ardour6
autostart
beets
bless
caja
cef_user_data
configstore
darktable
dconf
digikam*
discord
gcloud
google-chrome
htop
jack
kak/autoload
kid3rc
menus
mimeapps.list
papis
pavucontrol.ini
pulse
rclone
rncbc.org
sauerbraten
spicy
spotify
transmission
transmission-daemon
unity3d
vlc
wireshark
xfce4
zoomus.conf
